			/*---- Header + Nav---- */

header{
	background-color:#424242;
	margin-top:55px;
}


#header_logo{
	width:200px;
	height:200px;
}

#navbar_home {
	background-color:#aaaaaa;
	border-radius: 0px;
	box-shadow: 5px 5px 5px 5px #888888;
}

.a_nav{
	color:white;
	width: 180px;
	text-align:center;
	
}


  .navbar li a, .navbar .navbar-brand {
      color: white; !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

.icon-bar{
	background-color:white;
}

/*----Main---- */

.bg { 
    background-image: url("../images/hd_bg_blue_white_circle.jpg");
	width:100%;
}
#message{
	background-color: #c0c0c0;
	width: 50%;
	padding:10px;
	border-radius: 10px;
}
.card{
background-image: url("../images/yellow_notebook_paper_by_orangedotgreen.jpg");
background-repeat:no-repeat;
height: 150px;
 background-size:cover;
width: 50%;
}
textarea{
	background:transparent;
    outline:none;
	height: 100%;
    border:none;
    width:100%;
    font-size:15px;
    color:black;
}

			/*----footer-------*/

#footer_main{
	background-color:#424242;
	/*margin-top: 0px;*/
	/*height:100%*/
}
#footer_main .col-md-4{
	color:white;
}
.col-md-2{
	color:white;
}
h5{
	font-weight: bold;
}
.text-center{
	margin-top:30px;
}
#footer_logo{
	width:150px;
	height:150px;
	margin: 0 auto;
}
#send{
	float:right;
	
}
@media only screen and (max-width: 600px) {
#line{
	width:12px;
	border:none;
}

#line2{
	visibility:hidden;
}


#line3{
visibility:hidden;
	}
}








